@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* new */
  #root {
    --actionable-focus-fill: #eee;
    --actionable-secondary-disabled-fill: #fafafa;
    --actionable-secondary-disabled-tint: #999;
    --actionable-secondary-hover-fill: #e5e5e5;
    --actionable-secondary-hover-tint: #1a1a1a;
    --actionable-secondary-idle-fill: #f5f5f5;
    --actionable-secondary-idle-tint: #444;
    --actionable-tertiary-disabled-tint: #b2b2b2;
    --actionable-tertiary-hover-fill: #f5f5f5;
    --actionable-quaternary-disabled-tint: #b2b2b2;
    --actionable-quaternary-hover-fill: #f5f5f5;
    --actionable-quaternary-hover-tint: #1a1a1a;
    --actionable-quaternary-idle-tint: #666;
    --actionable-destructive-disabled-tint: #f1b7b2;
    --actionable-destructive-hover-tint: #b03d32;
    --actionable-destructive-idle-tint: #dc4c3e;
    --background-raised-primary: #fff;
    --background-raised-quaternary: #282828;
    --display-content-danger: #d1453b;
    --display-primary-idle-tint: #202020;
    --display-primary-on-dark-tint: #fff;
    --display-secondary-idle-tint: #666;
    --display-tertiary-idle-tint: #999;
    --divider-primary: #eee;
    --divider-secondary: #f5f5f5;
    --divider-on-dark: #666;
    --dropdown-background: #fff;
    --dropdown-border: rgba(0, 0, 0, 0.1);
    --dropdown-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    --dropdown-text: #202020;
    --info-attention-primary-idle-fill: #dc4c3e;
    --info-attention-primary-idle-tint: #dc4c3e;
    --info-promote-primary-idle-fill: #f48318;
    --info-promote-primary-idle-tint: #fff;
    --info-promote-tertiary-idle-fill: #faead1;
    --info-promote-tertiary-idle-tint: #8f4700;
    --input-border-alert-tint: #dc4c3e;
    --input-border-focus-tint: #b8b8b8;
    --input-border-idle-tint: #e6e6e6;
    --option-active-fill: #f3f3f3;
    --option-checkbox: #808080;
    --priorities-p1-disabled-fill: #edb5b1;
    --priorities-p1-disabled-tint: #edb5b1;
    --priorities-p1-idle-fill: #d1453b;
    --priorities-p1-idle-tint: #d1453b;
    --priorities-p2-disabled-fill: #f7d09d;
    --priorities-p2-disabled-tint: #f7d09d;
    --priorities-p2-idle-fill: #eb8909;
    --priorities-p2-idle-tint: #eb8909;
    --priorities-p3-disabled-fill: #a7c5f3;
    --priorities-p3-disabled-tint: #a7c5f3;
    --priorities-p3-idle-fill: #246fe0;
    --priorities-p3-idle-tint: #246fe0;
    --priorities-p4-disabled-fill: #d6d6d6;
    --priorities-p4-disabled-tint: #d6d6d6;
    --priorities-p4-idle-fill: #999;
    --priorities-p4-idle-tint: #999;
    --rgb-berry-red: 184 37 95;
    --rgb-red: 207 71 58;
    --rgb-orange: 199 113 0;
    --rgb-yellow: 178 145 4;
    --rgb-olive-green: 148 156 49;
    --rgb-lime-green: 101 163 58;
    --rgb-green: 54 147 7;
    --rgb-mint-green: 66 163 147;
    --rgb-teal: 20 143 173;
    --rgb-sky-blue: 49 157 192;
    --rgb-light-blue: 105 136 164;
    --rgb-blue: 42 103 226;
    --rgb-grape: 105 46 194;
    --rgb-violet: 172 48 204;
    --rgb-lavender: 164 105 140;
    --rgb-magenta: 224 80 149;
    --rgb-salmon: 178 99 92;
    --rgb-charcoal: 128 128 128;
    --rgb-grey: 153 153 153;
    --rgb-taupe: 143 122 105;
    --ring-inner: #1f60c2;
    --ring-outer: #dceaff;
    --schedule-next-week-fill: #692ec2;
    --schedule-next-week-tint: #692ec2;
    --schedule-overdue-tint: #d1453b;
    --schedule-today-fill: #4b9244;
    --schedule-today-tint: #058527;
    --schedule-tomorrow-fill: #ad6200;
    --schedule-tomorrow-tint: #ad6200;
    --schedule-weekend-fill: #246fe0;
    --scheduler-background: #fff;
    --scheduler-border-color: rgba(0, 0, 0, 0.1);
    --scheduler-border-width: 0px;
    --scheduler-preview-content-icon: #808080;
    --scheduler-shadow: 0 1px 8px rgba(0, 0, 0, 0.08),
      0 0 1px rgba(0, 0, 0, 0.3);
    --scheduler-suggestions-item-icon: #808080;
    --scheduler-suggestions-item-weekday: #808080;
    --scrollbar-thumb-idle: #c1c1c1;
    --scrollbar-thumb-track: #fafafa;
    --selectable-primary-on-dark-hover-fill: #3d3d3d;
    --selectable-primary-on-dark-selected-fill: #666;
    --task-drop-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    --task-list-item-background: #fafafa;
    --task-list-item-ring: rgba(31, 96, 194, 0.4);
    --todoist-p1-color: #d1453b;
    --todoist-p2-color: #eb8909;
    --todoist-p3-color: #246fe0;
    --todoist-p4-color: #666;
  }
  #root.theme_todoist {
    --actionable-primary-disabled-fill: #eda59e;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #c3392c;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #dc4c3e;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #dc4c3e;
    --actionable-tertiary-idle-tint: #dc4c3e;
    --background-base-primary: #fff;
    --background-base-secondary: #fcfaf8;
    --display-accent-primary-fill: #dc4c3e;
    --display-accent-primary-tint: #dc4c3e;
    --display-accent-secondary-fill: #fde7d8;
    --selectable-primary-selected-fill: #dc4c3e;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #f2efed;
    --selectable-secondary-selected-fill: #ffefe5;
    --selectable-secondary-selected-tint: #a81f00;
  }
  #root.theme_dark {
    --actionable-focus-fill: #363636;
    --actionable-primary-disabled-fill: #4c2827;
    --actionable-primary-disabled-tint: #797979;
    --actionable-primary-hover-fill: #e36564;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #de4c4a;
    --actionable-primary-idle-tint: #fff;
    --actionable-secondary-disabled-fill: #242424;
    --actionable-secondary-disabled-tint: #999;
    --actionable-secondary-hover-fill: #3d3d3d;
    --actionable-secondary-hover-tint: #e4e4e4;
    --actionable-secondary-idle-fill: #292929;
    --actionable-secondary-idle-tint: #e4e4e4;
    --actionable-tertiary-disabled-tint: #575757;
    --actionable-tertiary-hover-fill: #3d3d3d;
    --actionable-tertiary-hover-tint: #ff7f74;
    --actionable-tertiary-idle-tint: #ff7f74;
    --actionable-quaternary-disabled-tint: #4d4d4d;
    --actionable-quaternary-hover-fill: #343434;
    --actionable-quaternary-hover-tint: #fff;
    --actionable-quaternary-idle-tint: #d1d1d1;
    --actionable-destructive-disabled-tint: #6e261f;
    --actionable-destructive-hover-tint: #ff7f74;
    --actionable-destructive-idle-tint: #e06155;
    --background-base-primary: #1e1e1e;
    --background-base-secondary: #262626;
    --background-raised-primary: #282828;
    --background-raised-quaternary: #404040;
    --display-accent-primary-fill: #de4c4a;
    --display-accent-primary-tint: #de4c4a;
    --display-accent-secondary-fill: #6f2625;
    --display-primary-idle-tint: #fff;
    --display-secondary-idle-tint: #ccc;
    --display-tertiary-idle-tint: #808080;
    --divider-primary: #3d3d3d;
    --divider-secondary: #282828;
    --dropdown-background: #262626;
    --dropdown-border: #3d3d3d;
    --dropdown-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    --dropdown-text: #ccc;
    --info-promote-tertiary-idle-fill: #412a06;
    --info-promote-tertiary-idle-tint: #ff8c1a;
    --input-border-focus-tint: #707070;
    --input-border-idle-tint: #3d3d3d;
    --priorities-p1-disabled-fill: #79403c;
    --priorities-p1-disabled-tint: #79403c;
    --priorities-p1-idle-fill: #ff7066;
    --priorities-p1-idle-tint: #ff7066;
    --priorities-p2-disabled-fill: #79511b;
    --priorities-p2-disabled-tint: #79511b;
    --priorities-p2-idle-fill: #ff9a13;
    --priorities-p2-idle-tint: #ff9a13;
    --priorities-p3-disabled-fill: #22406d;
    --priorities-p3-disabled-tint: #345079;
    --priorities-p3-idle-fill: #5297ff;
    --priorities-p3-idle-tint: #5297ff;
    --priorities-p4-disabled-fill: #575757;
    --priorities-p4-disabled-tint: #575757;
    --priorities-p4-idle-fill: #a9a9a9;
    --priorities-p4-idle-tint: #a9a9a9;
    --rgb-berry-red: 214 43 111;
    --rgb-red: 207 71 58;
    --rgb-orange: 244 131 24;
    --rgb-yellow: 178 145 4;
    --rgb-olive-green: 174 184 58;
    --rgb-lime-green: 126 204 72;
    --rgb-green: 54 147 7;
    --rgb-mint-green: 82 204 184;
    --rgb-teal: 20 143 173;
    --rgb-sky-blue: 58 185 226;
    --rgb-light-blue: 150 195 235;
    --rgb-blue: 42 103 226;
    --rgb-grape: 135 88 206;
    --rgb-violet: 172 48 204;
    --rgb-lavender: 235 150 200;
    --rgb-magenta: 224 80 149;
    --rgb-salmon: 255 142 132;
    --rgb-charcoal: 128 128 128;
    --rgb-grey: 153 153 153;
    --rgb-taupe: 204 174 150;
    --option-active-fill: #363636;
    --option-checkbox: #d1d1d1;
    --ring-inner: #1f60c2;
    --ring-outer: #2a4c80;
    --schedule-next-week-fill: #9147ff;
    --schedule-next-week-tint: #a970ff;
    --schedule-overdue-tint: #ff7066;
    --schedule-today-fill: #1c8c3a;
    --schedule-today-tint: #25b84c;
    --schedule-tomorrow-fill: #eb8600;
    --schedule-tomorrow-tint: #ff9a14;
    --schedule-weekend-fill: #297eff;
    --scheduler-background: #262626;
    --scheduler-border-color: #3d3d3d;
    --scheduler-border-width: 1px;
    --scheduler-preview-content-icon: #d1d1d1;
    --scheduler-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    --scheduler-suggestions-item-weekday: #ccc;
    --scrollbar-thumb-idle: #6b6b6b;
    --scrollbar-thumb-track: #2c2c2c;
    --selectable-primary-selected-fill: #de4c4a;
    --selectable-primary-unselected-fill: #555;
    --selectable-secondary-hover-fill: #322f2a;
    --selectable-secondary-selected-fill: #472525;
    --selectable-secondary-selected-tint: #f07f75;
    --task-drop-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    --task-list-item-background: #363636;
    --task-list-item-ring: #175bc2;
  }
  #root.theme_moonstone {
    --actionable-primary-disabled-fill: #a4a9b0;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #323f51;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #39485e;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #39485e;
    --actionable-tertiary-idle-tint: #39485e;
    --background-base-primary: #fff;
    --background-base-secondary: #fafafa;
    --display-accent-primary-fill: #39485e;
    --display-accent-primary-tint: #39485e;
    --display-accent-secondary-fill: #e0e2e5;
    --selectable-primary-selected-fill: #39485e;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #efeff1;
    --selectable-secondary-selected-fill: #e0e2e5;
    --selectable-secondary-selected-tint: #39485e;
  }
  #root.theme_tangerine {
    --actionable-primary-disabled-fill: #ebc180;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #995e00;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #d68400;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #c77100;
    --actionable-tertiary-idle-tint: #c77100;
    --background-base-primary: #fff;
    --background-base-secondary: #fcfcf8;
    --display-accent-primary-fill: #d68400;
    --display-accent-primary-tint: #995e00;
    --display-accent-secondary-fill: #fdecdc;
    --selectable-primary-selected-fill: #d68400;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #f4f1eb;
    --selectable-secondary-selected-fill: #fff3d6;
    --selectable-secondary-selected-tint: #995e00;
  }
  #root.theme_kale {
    --actionable-primary-disabled-fill: #a5bca2;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #3e6737;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #4c7a45;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #4c7a45;
    --actionable-tertiary-idle-tint: #4c7a45;
    --background-base-primary: #fff;
    --background-base-secondary: #fcfcf8;
    --display-accent-primary-fill: #4c7a45;
    --display-accent-primary-tint: #4c7a45;
    --display-accent-secondary-fill: #e8f1d0;
    --selectable-primary-selected-fill: #4c7a45;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #f2f2e9;
    --selectable-secondary-selected-fill: #f0f6df;
    --selectable-secondary-selected-tint: #3e6737;
  }
  #root.theme_blueberry {
    --actionable-primary-disabled-fill: #9ab4dd;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #246498;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #297abc;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #297abc;
    --actionable-tertiary-idle-tint: #297abc;
    --background-base-primary: #fff;
    --background-base-secondary: #f8fafb;
    --display-accent-primary-fill: #297abc;
    --display-accent-primary-tint: #297abc;
    --display-accent-secondary-fill: #d6e5f3;
    --selectable-primary-selected-fill: #297abc;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #eef2f6;
    --selectable-secondary-selected-fill: #dfedfb;
    --selectable-secondary-selected-tint: #1e5480;
  }
  #root.theme_lavender {
    --actionable-primary-disabled-fill: #bab5de;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #51459f;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #766bbd;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #766bbd;
    --actionable-tertiary-idle-tint: #766bbd;
    --background-base-primary: #fff;
    --background-base-secondary: #f9f9fa;
    --display-accent-primary-fill: #766bbd;
    --display-accent-primary-tint: #766bbd;
    --display-accent-secondary-fill: #e8e3f4;
    --selectable-primary-selected-fill: #766bbd;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #ededf2;
    --selectable-secondary-selected-fill: #e9e5f5;
    --selectable-secondary-selected-tint: #4d447e;
  }
  #root.theme_raspberry {
    --actionable-primary-disabled-fill: #f4a0b7;
    --actionable-primary-disabled-tint: #fff;
    --actionable-primary-hover-fill: #8c213f;
    --actionable-primary-hover-tint: #fff;
    --actionable-primary-idle-fill: #c5496c;
    --actionable-primary-idle-tint: #fff;
    --actionable-tertiary-hover-tint: #c5496c;
    --actionable-tertiary-idle-tint: #c5496c;
    --background-base-primary: #fff;
    --background-base-secondary: #fbf8f8;
    --display-accent-primary-fill: #c5496c;
    --display-accent-primary-tint: #c5496c;
    --display-accent-secondary-fill: #f8e2e7;
    --selectable-primary-selected-fill: #c5496c;
    --selectable-primary-unselected-fill: #b3b3b3;
    --selectable-secondary-hover-fill: #f2eded;
    --selectable-secondary-selected-fill: #f8e2e7;
    --selectable-secondary-selected-tint: #8c213f;
  }
  .theme_card {
    --theme-card-background: #fff;
    --theme-card-content: #e5e5e5;
    --theme-card-priority: #666;
  }
  .theme_card.theme_todoist {
    --theme-card-accent: #dc4c3e;
    --theme-card-sidebar: #fcf9f9;
    --theme-card-sidebar-hover: #f6efee;
    --theme-card-sidebar-selected: #fee6e3;
  }
  .theme_card.theme_dark {
    --theme-card-accent: #bd4337;
    --theme-card-background: #1e1e1e;
    --theme-card-content: #4d4d4d;
    --theme-card-priority: #b3b3b3;
    --theme-card-sidebar: #282828;
    --theme-card-sidebar-hover: #363636;
    --theme-card-sidebar-selected: #4f2929;
  }
  .theme_card.theme_moonstone {
    --theme-card-accent: #4a5462;
    --theme-card-sidebar: #f8f9fc;
    --theme-card-sidebar-hover: #f2f2f2;
    --theme-card-sidebar-selected: #eee;
  }
  .theme_card.theme_tangerine {
    --theme-card-accent: #d68400;
    --theme-card-sidebar: #fcf9f8;
    --theme-card-sidebar-hover: #f6f1ee;
    --theme-card-sidebar-selected: #feebe3;
  }
  .theme_card.theme_kale {
    --theme-card-accent: #4c7a45;
    --theme-card-sidebar: #f9faf8;
    --theme-card-sidebar-hover: #eff2ec;
    --theme-card-sidebar-selected: #ecf2dd;
  }
  .theme_card.theme_blueberry {
    --theme-card-accent: #3669ba;
    --theme-card-sidebar: #f8fafc;
    --theme-card-sidebar-hover: #eef2f6;
    --theme-card-sidebar-selected: #e3f2fe;
  }
  .theme_card.theme_lavender {
    --theme-card-accent: #766bbd;
    --theme-card-sidebar: #f9f9fc;
    --theme-card-sidebar-hover: #f1eef6;
    --theme-card-sidebar-selected: #f1eeff;
  }
  .theme_card.theme_raspberry {
    --theme-card-accent: #c94f71;
    --theme-card-sidebar: #fbf9f9;
    --theme-card-sidebar-hover: #f2ecf0;
    --theme-card-sidebar-selected: #ffeaef;
  }

  /* old */
  #root.theme_noir {
    --primary-fill: #2e2e2e;
    --primary-hover-fill: #121212;
    --primary-disabled-fill: rgba(46, 46, 46, 0.4);
    --tertiary-tint: #2e2e2e;
    --tertiary-hover-tint: #2e2e2e;
    --add-task-icon: #3d3d3d;
    --add-task-text: #3d3d3d;
    --bg-toggle-checked: #2e2e2e;
    --checkbox-p4-rgb: 153 153 153;
    --content-secondary: #666;
    --display-secondary: #666;
    --divider-on-dark: #666;
    --navbar-hover-fill: rgba(255, 255, 255, 0.4);
    --navbar-idle-fill: #2e2e2e;
  }
  #root.theme_dark {
    --primary-fill: #de4c4a;
    --primary-hover-fill: #c53727;
    --primary-disabled-tint: rgba(255, 255, 255, 0.5);
    --secondary-tint: rgba(255, 255, 255, 0.87);
    --secondary-fill: #292929;
    --secondary-hover-tint: rgba(255, 255, 255, 0.87);
    --secondary-hover-fill: #3d3d3d;
    --secondary-disabled-tint: rgba(255, 255, 255, 0.87);
    --secondary-disabled-fill: #292929;
    --tertiary-tint: #ff7066;
    --tertiary-hover-tint: #ff7066;
    --tertiary-hover-fill: #3d3d3d;
    --tertiary-disabled-tint: rgba(255, 255, 255, 0.87);
    --quaternary-tint: rgba(255, 255, 255, 0.56);
    --quaternary-hover-fill: #242424;
    --quaternary-hover-tint: rgba(255, 255, 255, 0.87);
    --quaternary-on-hover-fill: #4d4d4d;
    --quaternary-on-hover-tint: #fff;
    --quaternary-disabled-tint: #4d4d4d;

    --add-task-icon: #de4c4a;
    --add-task-text: #de4c4a;

    --badge-promote-tint: #ff8c1a;
    --badge-promote-fill: #412a06;

    --bg-aside: #242424;
    --bg-banner: #3d3d3d;
    --bg-base: #282828;
    --bg-base-primary: #202020;
    --bg-base-primary-hover: #363636;
    --bg-base-secondary-hover: #4d4d4d;
    --bg-default: #1f1f1f;
    --bg-drag: #363636;
    --bg-drag-placeholder-primary: #4d4d4d;
    --bg-drag-placeholder-secondary: #000;
    --dropdown-background: #282828;
    --bg-fade: linear-gradient(
      90deg,
      rgba(31, 31, 31, 0) 0,
      rgb(32, 32, 32) 16px
    );
    --bg-fade-panel: linear-gradient(
      90deg,
      rgba(40, 40, 40, 0) 0,
      rgb(40, 40, 40) 16px
    );
    --bg-menu: #282828;
    --bg-menu-item-primary-hover: #3d3d3d;
    --bg-menu-item-secondary-hover: #363636;
    --bg-tab: #333;
    --bg-tab-hover-fill: #363636;
    --bg-task-button: #363636;
    --bg-toggle: #555;

    --border-banner: #282828;
    --border-base-primary: rgba(255, 255, 255, 0.1);
    --border-chip: #555;
    --border-dialog: #383838;
    --border-dialog-width: 1px;
    --dropdown-border: #171717;
    --border-field: #333;
    --border-field-focus: #555;
    --border-menu: rgba(255, 255, 255, 0.1);
    --border-menu-topbar: rgba(255, 255, 255, 0.1);
    --border-tab: #333;
    --brand: #5297ff;

    --checkbox-p1-disabled: 121 64 60;
    --checkbox-p1-rgb: var(--priority1-rgb);
    --checkbox-p2-disabled: 121 81 27;
    --checkbox-p2-rgb: var(--priority2-rgb);
    --checkbox-p3-disabled: 52 80 121;
    --checkbox-p3-rgb: var(--priority3-rgb);
    --checkbox-p4-disabled: 87 87 87;

    --content-primary: #eee;
    --content-secondary: rgba(255, 255, 255, 0.56);

    --date-next-week-fill: #9147ff;
    --date-next-week-tint: #a970ff;
    --date-overdue-fill: #ff4a3d;
    --date-overdue-tint: #ff7066;
    --date-today-fill: #1c8c3a;
    --date-today-tint: #25b84c;
    --date-tomorrow-fill: #eb8600;
    --date-tomorrow-tint: #ff9a14;
    --date-weekend-fill: #297eff;
    --date-weekend-tint: #5297ff;

    --display-secondary: #a3a3a3;

    /* --divider-primary: #666;
    --divider-secondary: #3d3d3d;
    --divider-tertiary: #282828; */
    --divider-base: rgba(255, 255, 255, 0.1);
    --divider-on-dark: rgba(92, 92, 92, 0.6);

    --field-placeholder: rgba(255, 255, 255, 0.4);

    --fill-banner: rgba(255, 255, 255, 0.56);

    --focus-fill: #4d4d4d;

    --navbar-hover-fill: rgba(255, 255, 255, 0.3);
    --navbar-idle-fill: #282828;
    --navbar-idle-tint: rgba(255, 255, 255, 0.87);
    --navbar-on-idle-fill: #363636;

    --priority1-rgb: 255 112 102;
    --priority2-rgb: 255 154 20;
    --priority3-rgb: 82 151 255;

    --ring-task-button: #175bc2;

    --shadow-dialog: 0 1px 4px rgba(0, 0, 0, 0.08),
      0 15px 50px rgba(0, 0, 0, 0.6);
    --shadow-drag: 0 5px 8px rgba(0, 0, 0, 0.5);
    --dropdown-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    --shadow-menu: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    --shadow-menu-topbar: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
    --shadow-topbar: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    --text-banner-title: #fff;
    --text-base-primary: rgba(255, 255, 255, 0.87);
    --text-base-input: rgba(255, 255, 255, 0.87);
    --text-count: #777;
    --text-default: #fff;
    --text-menu: rgba(255, 255, 255, 0.87);
    --text-settings-icon: rgba(255, 255, 255, 0.56);
    --text-tab-selected: #fff;
    --text-tab-unselected: rgba(255, 255, 255, 0.87);
    --text-username: #e16b2d;
    --tracking-dark: 0.0065em;

    --views-inbox: #297eff;
    --views-today: #1c8c3a;
    --views-upcoming: #a970ff;
  }
  #root.theme_dark ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  #root.theme_dark ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #8b8b8b;
  }
  #root.theme_dark ::-webkit-scrollbar-track {
    background: #171717;
  }
  #root.theme_neutral {
    --checkbox-p4-rgb: 153 153 153;
    --content-secondary: #666;
    --display-secondary: #666;
    --divider-on-dark: #666;
    --navbar-hover-fill: rgba(0, 0, 0, 0.1);
    --navbar-idle-fill: #f7f7f7;
    --navbar-idle-tint: #484b4c;
    --navbar-on-idle-fill: #fff;
  }
  #root.theme_tangerine {
    --primary-fill: #ff9000;
    --primary-hover-fill: #ff9000;
    --primary-disabled-fill: rgba(244, 131, 24, 0.4);
    --tertiary-tint: #f48318;
    --tertiary-hover-tint: #f48318;
    --add-task-icon: #ff9000;
    --add-task-text: #f17600;
    --bg-toggle-checked: #f48318;
    --checkbox-p4-rgb: 153 153 153;
    --content-secondary: #666;
    --display-secondary: #666;
    --divider-on-dark: #666;
    --navbar-hover-fill: rgba(0, 0, 0, 0.2);
    --navbar-idle-fill: #ff9000;
  }
}
